
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto";
    margin: 0;
}
.no{
    width: 90%;
    margin-left: 50px;
}
.neto{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    margin: 0;
    text-shadow: 4px 1px 3px rgba(0, 0,0, 0.4);
    s
    
}
.imgd img{
   
}

.rede{
    
    display: flex;
    background-color: rgb(46, 97, 65);
    align-items: center;
    padding: 16px;
    justify-content: space-around;
    /* faz com que os elementos ficem cada uma em uma ponta space-between; */
}
.ull{
    display: flex;
    list-style-type: none;
    font-size: 18px;
    /* o gap: 16px; vai ser a distancia dos elementos entre si */
    gap: 10px;
    text-transform: uppercase;
    
}
.joao{
    border-bottom: 1px solid red;
    color: rgb(16, 17, 17);
    /* pointer-events: none; vai anular o envento do click */
    pointer-events: none;   
}
.joao a{
    color: white;
    text-decoration: none;
    /* o capitalize; faz com que a primeira letra fique maiuscula */
    text-transform: capitalize;
    padding: 14px;
    border-radius: 11%;
}
.sec-1{
    
}